/* 内外边距 */
.margin-0 {
	margin: 0;
}

.margin-xs {
	margin: 0.5rem;
}

.margin-sm {
	margin: 0.75rem;
}

.margin {
	margin: 1rem;
}

.margin-lg {
	margin: 1.25rem;
}

.margin-xl {
	margin: 1.5rem;
}

.margin-top-xs {
	margin-top: 0.5rem;
}

.margin-top-sm {
	margin-top: 0.75rem;
}

.margin-top {
	margin-top: 1rem;

}
.margin-top-lg {
	margin-top: 1.25rem;
}

.margin-top-xl {
	margin-top: 1.5rem;
}

.margin-right-xs {
	margin-right: 0.5rem;
}

.margin-right-sm {
	margin-right: 0.75rem;
}

.margin-right {
	margin-right: 1rem;
}

.margin-right-lg {
	margin-right: 1.25rem;
}

.margin-right-xl {
	margin-right: 1.5rem;
}

.margin-bottom-xs {
	margin-bottom: 0.5rem;
}

.margin-bottom-sm {
	margin-bottom: 0.75rem;
}

.margin-bottom {
	margin-bottom: 1rem;
}

.margin-bottom-lg {
	margin-bottom: 1.25rem;
}

.margin-bottom-xl {
	margin-bottom: 1.5rem;
}

.margin-left-xs {
	margin-left: 0.5rem;
}

.margin-left-sm {
	margin-left: 0.75rem;
}

.margin-left {
	margin-left: 1rem;
}

.margin-left-lg {
	margin-left: 1.25rem;
}

.margin-left-xl {
	margin-left: 1.5rem;
}

.margin-lr-xs {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.margin-lr-sm {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.margin-lr {
	margin-left: 1rem;
	margin-right: 1rem;
}

.margin-lr-lg {
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}

.margin-lr-xl {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.margin-tb-xs {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.margin-tb-sm {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.margin-tb {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.margin-tb-lg {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.margin-tb-xl {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.padding-0 {
	padding: 0;
}

.padding-xs {
	padding: 0.5rem;
}

.padding-sm {
	padding: 0.75rem;
}

.padding {
	padding: 1rem;
}

.padding-lg {
	padding: 1.25rem;
}

.padding-xl {
	padding: 1.5rem;
}

.padding-top-xs {
	padding-top: 0.5rem;
}

.padding-top-sm {
	padding-top: 0.75rem;
}

.padding-top {
	padding-top: 1rem;
}

.padding-top-lg {
	padding-top: 1.25rem;
}

.padding-top-xl {
	padding-top: 1.5rem;
}

.padding-right-xs {
	padding-right: 0.5rem;
}

.padding-right-sm {
	padding-right: 0.75rem;
}

.padding-right {
	padding-right: 1rem;
}

.padding-right-lg {
	padding-right: 1.25rem;
}

.padding-right-xl {
	padding-right: 1.5rem;
}

.padding-bottom-xs {
	padding-bottom: 0.5rem;
}

.padding-bottom-sm {
	padding-bottom: 0.75rem;
}

.padding-bottom {
	padding-bottom: 1rem;
}

.padding-bottom-lg {
	padding-bottom:1.25rem;
}

.padding-bottom-xl {
	padding-bottom: 1.5rem;
}

.padding-left-xs {
	padding-left: 0.5rem;
}

.padding-left-sm {
	padding-left: 0.75rem;
}

.padding-left {
	padding-left: 1rem;
}

.padding-left-lg {
	padding-left: 1.25rem;
}

.padding-left-xl {
	padding-left: 1.5rem;
}

.padding-lr-xs {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.padding-lr-sm {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.padding-lr {
	padding-left: 1rem;
	padding-right: 1rem;
}

.padding-lr-lg {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.padding-lr-xl {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.padding-tb-xs {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.padding-tb-sm {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.padding-tb {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.padding-tb-lg {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.padding-tb-xl {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
/* 弹性布局 */
.flex {
	display: flex;
}

.basis-xs {
	flex-basis: 20%;
}

.basis-sm {
	flex-basis: 40%;
}

.basis-df {
	flex-basis: 50%;
}

.basis-lg {
	flex-basis: 60%;
}

.basis-xl {
	flex-basis: 80%;
}

.flex-sub {
	flex: 1;
}

.flex-twice {
	flex: 2;
}

.flex-treble {
	flex: 3;
}

.flex-direction {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-stretch {
	align-items: stretch;
}

.self-start {
	align-self: flex-start;
}

.self-center {
	align-self: flex-center;
}

.self-end {
	align-self: flex-end;
}

.self-stretch {
	align-self: stretch;
}

.align-stretch {
	align-items: stretch;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}
